<!doctype html><html><head>
  <meta charset=utf8>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
  <title>llista youtube</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://apis.google.com/js/api.js"></script>
  <style>
    table{
      border-collapse:collapse;
    }
    th{
      background:rgba(255,55,55,0.7);
    }
    [number]{
      text-align:right;
      font-family:monospace;
    }
    [dreta]{
      text-align:right;
    }
  </style>
</head><body><h1>llista youtube</h1>
<h4>Enganxa una llista d'ids de vídeos i prem el botó "buscar"</h4>

<div id=app>
  <div
    style="
      display:flex;
      flex-wrap:wrap;
    "
  >
    <!--esquerra:query-->
    <div style="margin-right:10px">
      <textarea
        v-model="text"
        style="height:20em"
        placeholder="llista ids"
      ></textarea><br>
      <button
        style="
          width:100%;
          height:2em;
          margin-bottom:10px;
          font-size:larger;
        "
        @click="processa_textarea()"
        >buscar</button>
    </div>

    <!--dreta: resultats-->
    <div>
      <div>
        <span>Resultats ({{items.length}})&nbsp;</span>
        <button @click="items=[]" v-show="items.length">
          esborrar resultats
        </button>
        <code v-if="buscant">Buscant...</code>
      </div>

      <table border=1 style="margin-top:5px">
        <thead>
          <tr>
            <th>id youtube</th>
            <th>títol</th>
            <th>duració</th>
            <th>
              <button @click="items.sort((a,b)=>b.views-a.views)">
                views
              </button>
            </th>
            <th>
              <button @click="items.sort((a,b)=>b.publishedAt>a.publishedAt?1:-1)">
                publicat
              </button>
            </th>
            <th>
              <button @click="items.sort((a,b)=>b.views_per_day-a.views_per_day)">
                views/dia
              </button>
            </th>
            <th>X</th>
          </tr>
        </thead>
        <tr v-if="items.length==0">
          <td colspan=7>
            <code>Prem el botó "buscar"</code>
          </td>
        </tr>
        <tbody>
          <tr v-for="item,i in items">
            <td style="font-family:monospace">{{item.id}}</td>
            <td>
              <a target="_blank" :href="crea_url(item.id)">
                {{item.title}}
              </a>
            </td>
            <td dreta>{{item.duration}}</td>
            <td number>{{item.views}}</td>
            <td dreta>
              <div>{{item.publishedAt}}</div>
              <small style="font-size:x-small">
                (fa {{item.days_since_published}} dies)
              </small>
            </td>
            <td number>
              {{item.views_per_day}}
            </td>
            <td><button @click="items.splice(i,1)">X</button></td>
          </tr>
        </tbody>

        <tfoot>
          <th></th>
          <th></th>
          <th dreta>{{duracio_total}}</td>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<script>
  const API_KEY="AIzaSyCwkd2zK5A_IUFXRJ8wsRNWpJyY8nJ5Gic";
  function busca_videos(){
    return new Promise(function(resolve,reject){
      gapi.client.load('youtube','v3',()=>{
        console.log('YouTube API carregada correctament');
        app.llista.forEach(video_id=>{
          if(!video_id) return;

          const request = gapi.client.youtube.videos.list({
            part: 'snippet,contentDetails,statistics',
            id: video_id,
          });

          request.execute(response=>{
            const video = response.items[0];
            if(video){
              //console.log(video);//debug
              const title     = video.snippet.title;
              const views     = video.statistics.viewCount;
              let duration    = video.contentDetails.duration;
              let publishedAt = video.snippet.publishedAt;
              console.log(`Video trobat "${video_id}"`);

              //processa raw data
              duration = duration.substring(2); //remove "PT" from the beggining
              let duration_seconds = app.duration_to_seconds(duration);
              publishedAt = publishedAt.substring(0,10);

              let days_since_published = Math.round(
                (new Date().getTime()-new Date(publishedAt).getTime())/864e5
              );
              let views_per_day = Math.round(views/days_since_published);

              //afegeix resultats a "items"
              app.items.push({
                id:video_id,
                title,
                views,
                duration,
                duration_seconds,
                publishedAt,
                days_since_published,
                views_per_day,
              });
              resolve();
            }else{
              console.log(`Video no trobat "${video_id}"`);
            }
          });
        });
      });
    });
  }

  //inicia google api
  gapi.load('client',()=>{
    gapi.client.init({
      apiKey:API_KEY,
    }).then(()=>{
      console.log('Google Client iniciat correctament');
      //app.processa_textarea();
    })
  });
</script>

<script>
  let app = Vue.createApp({
    data(){return{
      buscant:false,
      text:[
        "TLaF7ErqArY",//australian blonde - chup chup
        "iXQUu5Dti4g",//led zeppelin - stairway to heaven
        "cF3OWCYLLVQ",//dire straits - sultans of swing
        "vabnZ9-ex7o",//nirvana - come as you are
        "eBG7P-K-r1Y",//foo fighters - everlong
        "MbXWrmQW-OE",//police - message in a bottle
        "4aeETEoNfOg",//smashing pumpkins - 1979
        "0xGPi-Al3zQ",//fleetwood mac - rihannon
        "-oqAU5VxFWs",//couting crows - mr jones

        //"FTQbiNvZqaY",//toto - africa
        //"CocEMWdc7Ck",//shakira bzrp session 53
        //"WcIcVapfqXw",//selena gomez - calm down
        //"O4-6Y_91v5I",//florence and the machine - say my name
      ].join('\n'),
      llista:[
        /*el text es transforma en un array d'ids aquí*/
      ],
      items:[
        /*array de resultats després de buscar a youtube*/
      ],
    }},
    methods:{
      crea_url(video_id){
        return `https://youtube.com/watch?v=${video_id}`;
      },
      processa_textarea(){
        if(this.text=="") return;
        let linies = this.text.split('\n');
        this.llista=linies;
        this.items=[];
        app.buscant=true;
        busca_videos().then(function(){
          app.buscant=false;
        });
      },

      //transforma string de duració (i.e. "2M25S") a nombre enter (segons)
      duration_to_seconds(duration_string){
        let hours   = 0;
        let minutes = 0;
        let seconds = 0;

        let iH = duration_string.search("H");
        if(iH+1){
          hours = duration_string.substring(0,iH);
          hours = parseInt(hours);
        }

        let iM = duration_string.search("M");
        if(iM+1){
          minutes = duration_string.substring(iH+1,iM);
          minutes = parseInt(minutes);
        }

        let iS = duration_string.search("S");
        if(iS+1){
          seconds = duration_string.substring(iM+1,iS);
          seconds = parseInt(seconds);
        }

        //console.log({hours,minutes,seconds});//debug
        return hours*3600+minutes*60+seconds;
      },
    },
    computed:{
      duracio_total(){
        let s = this.items.map(it=>
          it.duration_seconds
        ).reduce((p,c)=>p+c,0);

        let H = Math.floor(s/3600);
        let M = Math.floor((s%3600)/60);
        let S = (s%3600)%60;

        let str="";
        if(H){
          str=`${H}H${M}M${S}S`;
        }else{
          str=`${M}M${S}S`;
        }
        return str;
      },
    },
  }).mount("#app");
</script>
